{:paths ["src/cljc"]
 :deps  {local/local {:local/root "."}}
 :tasks {spec {:doc         "Runs Babashka specs"
               :extra-paths ["spec/cljc"]
               :extra-deps  {speclj/speclj {:mvn/version "3.11.0"}}
               :requires    ([speclj.main :as main])
               :task        (apply main/-main "-c" "-s" "src/cljc" "spec/cljc" *command-line-args*)}
         }
 }
