{:paths ["src/cljc" "src/clj"]
 :deps  {local/local   {:local/root "."}
         speclj/speclj {:mvn/version "3.13.0"}}
 :tasks {:requires ([babashka.fs :as fs]
                    [c3kit.apron.log :as log]
                    [speclj.main :as speclj])
         :init     (do
                     (def spec-source-args ["-s" "src/cljc" "-s" "src/clj"])
                     (def spec-paths ["spec/cljc" "spec/clj"])
                     (defn run-specs [{:keys [timezone tags]}]
                       (when timezone
                         (System/setProperty "user.timezone" timezone))
                       (apply speclj/-main "-c" (concat spec-source-args tags spec-paths *command-line-args*))))
         spec      {:doc         "Runs Babashka specs"
                     :extra-paths ["spec/clj" "spec/cljc"]
                     :task        (run-specs {:tags ["-t" "~cst" "-t" "~mst"]})}
         spec-all  {:doc         "Runs bb, clj, and cljs specs"
                    :extra-paths ["spec/clj" "spec/cljc"]
                    :task        (do
                                   (shell "bb" "spec")
                                   (clojure "-M:test:spec")
                                   (clojure "-M:test:cljs" "once"))}
         spec-cst  {:doc         "Runs CST Babashka specs"
                     :extra-paths ["spec/clj" "spec/cljc"]
                     :task        (run-specs {:timezone "America/Chicago"
                                             :tags     ["-t" "cst"]})}
         spec-mst  {:doc         "Runs MST Babashka specs"
                    :extra-paths ["spec/clj" "spec/cljc"]
                    :task        (run-specs {:timezone "America/Phoenix"
                                             :tags     ["-t" "mst"]})}
         clean     {:task (do (log/info "Removing target folder")
                              (fs/delete-tree "target"))}
         }
 }
