{
 :paths   ["src/clj" "src/cljc"]
 :deps    {
           com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
           com.cognitect/transit-clj   {:mvn/version "1.0.333"}
           com.cognitect/transit-cljs  {:mvn/version "0.8.280"}
           com.taoensso/timbre         {:mvn/version "6.8.0"}
           org.babashka/json           {:mvn/version "0.1.6"}
           org.clojure/clojure         {:mvn/version "1.12.3"}
           org.clojure/data.json       {:mvn/version "2.5.1"}
           org.clojure/tools.namespace {:mvn/version "1.5.0"}
           org.slf4j/slf4j-nop         {:mvn/version "2.0.17"} ;; eliminated annoying log output
           }
 :aliases {
           :test     {:extra-deps  {
                                    clj-commons/pomegranate             {:mvn/version "1.2.25"}
                                    com.microsoft.playwright/playwright {:mvn/version "1.55.0"}
                                    io.github.clojure/tools.build       {:mvn/version "0.10.10"}
                                    org.clojure/clojurescript           {:mvn/version "1.12.42"}
                                    speclj/speclj                       {:mvn/version "3.11.0"}
                                    }
                      :extra-paths ["dev" "spec/clj" "spec/cljc"]}
           :spec     {:main-opts ["-m" "speclj.main" "-c" "-t" "~cst" "-t" "~mst"]}
           :spec-cst {:jvm-opts  ["-Duser.timezone=America/Chicago"]
                      :main-opts ["-m" "speclj.main" "-c" "-t" "cst"]}
           :spec-mst {:jvm-opts  ["-Duser.timezone=America/Phoenix"]
                      :main-opts ["-m" "speclj.main" "-c" "-t" "mst"]}
           :cljs     {:main-opts ["-m" "cljs"]}
           :cljs-cst {:main-opts ["-m" "cljs"] :jvm-opts ["-Dc3.env=cst"]}
           :cljs-mst {:main-opts ["-m" "cljs"] :jvm-opts ["-Dc3.env=mst"]}
           :build    {:extra-deps  {io.github.clojure/tools.build {:mvn/version "0.10.10"}
                                    clj-commons/pomegranate       {:mvn/version "1.2.25"}}
                      :ns-default  build
                      :extra-paths ["dev"]}
           :antq     {:deps      {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
                      :main-opts ["-m" "antq.core"]}
           :nrepl    {:extra-paths ["test"]
                      :extra-deps  {nrepl/nrepl {:mvn/version "1.4.0"}}
                      ;; this allows nrepl to interrupt runaway repl evals
                      :jvm-opts    ["-Djdk.attach.allowAttachSelf"]
                      :main-opts   ["-m" "nrepl.cmdline" "--port" "7888"]}
           }
 }
